body {
    background-image: url('./bk.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    div {
        border: 1px solid #dadada;
        background: url('./shareqq.png')
    }
}